/.idea
/JyQipai_server.sublime-workspace
~$*.*
*.vpp~*
/skynet/fcount_test/
/server.sublime*

*.log
*.pid
/skynet2
/skynet3
/skynet4
**/Debug/
**/.vs/
*.vcxproj.user
/skynet/nul
*.*~*
client_bug_report*.txt
/skynet/3rd/skynet_3rd_code/
/.ftpconfig
/.vscode
/skynet/gamelogic_debug.dump
/skynet/logs/sql_error.txt
/skynet/logs/bak
/skynet/logs/bak*
skynet/game/services/xiaoxiaole_lottery_center_service/xxl_xc_map.lua
/skynet/logs/danren_match_info.txt
/skynet/logs/round_data.txt
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_total.lua
/skynet/game/services/ddz_ctor_pai_service/bak/
/skynet/dump_debug_robot_data.txt
/skynet/hotfix/dump_robot_data.lua
/skynet/dump_debug_robot_roominfo_data.txt
/skynet/logs/dump_match_service_2_DATA_20190619_171809_1.txt
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_total_trans.lua
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_id_map.lua
/skynet/game/config/ddz_fapai_data_total.lua
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_id_list.lua
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_map.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data2.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map_debug_old.lua
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_map.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map_debug.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_trans_1.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data1.lua
/skynet/game/services/ddz_ctor_pai_service/error_pai_string.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map2.lua
/skynet/game/services/ddz_ctor_pai_service/error_pai_string.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map_debug2.lua
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_map_haodipai.lua
/skynet/game/services/xiaoxiaole_shuihu_lottery_center_service/xxl_shuihu_xc_map.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_trans_1.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data1.lua
/skynet/game/services/ddz_ctor_pai_service/ddz_fapai_data_map_debug.lua
/skynet/cservice/
/skynet/luaclib/
/skynet/skynet
/websocket_transfer_tcp
/skynet/websocket_transfer_tcp
/skynet/game/services/ddz_haopai_service/ddz_fapai_data_map_haodipai.lua
/skynet/.vscode/settings.json
/skynet/.idea/.gitignore
/skynet/.idea/misc.xml
/skynet/.idea/modules.xml
/skynet/.idea/skynet.iml
/skynet/.idea/vcs.xml
skynet/tag_insert.sql
/skynet/.idea/dataSources.xml
skynet/logs/all_log
/skynet/qhb_profit_data_tg_2020*
/skynet/qhb_profit_data_user_2020*
/skynet/.idea/dictionaries/admin.xml
/skynet/hb_water_log_*
/**/*_water_log_*
/**/logs/*_water_*
/skynet/sql_query_str_log.lua
/skynet/sql_write_str_log - 副本.lua
/skynet/sql_write_str_log.lua
/skynet/game/services/xiaoxiaole_caishen_lottery_center_service/xxl_caishen_xc_map.lua
/skynet/game/services/xiaoxiaole_caishen_lottery_center_service/xxl_caishen_tnsh_xc_map.lua
/skynet/cpl_common_config.lua
/skynet/game/.vscode/settings.json
/skynet/bullet_assets.json
/skynet/bullet_info.json
/skynet/fish_dead_info.json
/skynet/game/test/stat_fish_test_data.lua
/skynet/logs/log.txt
skynet/game/services/xiaoxiaole_xiyou_lottery_center_service/xxl_xiyou_xc_map.lua
skynet/game/config/znq_player_look_back_data.lua
/skynet/logs/
skynet/game/services/lwzb_game_center_service/lwzb_pai_type.lua
skynet/game/protocol/.vscode/
skynet/total_process_data_*.txt
